{% extends "layout.html" %}

{% set pageId = "Despesas" %}

{% block styles %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <div class="conteiner">
        <main>
                <h2>Seja bem vindo a nossa "Central de Inteligencia"</h2>
                <p>Toda nossa gerencia, projetos e análise de dados em uma plataforma simples e eficiente</p>
        </main>
    </div>
</div>

{% endblock content %}