<div class="footer">
    <ul>
        <li>
            <a href="/">
                <span></span>
                HOME
            </a>
        </li>

        <li>
            <a href="teste_vendas">
                <span></span>
                Sales
            </a>
        </li>

        <li>
            <a href="despesas">
                <span></span>
                Expenses
            </a>
        </li>
        <li>
            <a href="issues">
                <span></span>
                Issues
            </a>
        </li>

    </ul>
</div>